<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>小笨狼漫谈多线程：NSThread</string>
		<key>url</key>
		<string>http://www.jianshu.com/p/8ed06312d8bd</string>
	</dict>
	<dict>
		<key>title</key>
		<string>小笨狼漫谈多线程：GCD(一)</string>
		<key>url</key>
		<string>http://www.jianshu.com/p/c2b14bb999de</string>
	</dict>
	<dict>
		<key>title</key>
		<string>关于iOS多线程，你看我就够了（已更新）</string>
		<key>url</key>
		<string>http://www.cocoachina.com/ios/20150731/12819.html</string>
	</dict>
</array>
</plist>
