<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ALAssetRepresentation</string>
	<string>ALAsset</string>
	<string>ALAssetsGroup</string>
	<string>ALAssetsFilter</string>
	<string>ALAssetsLibrary</string>
	<string>PHFetchOptions</string>
	<string>PHAssetCollection</string>
	<string>PHFetchResult</string>
	<string>PHAsset</string>
	<string>PhotosTypes</string>
	<string>PHImageRequestOptions</string>
	<string>PHImageManager</string>
</array>
</plist>
